.api-document{
    font-size: 16px;
    padding-left: 350px;
    padding-top: 250px;
    .deom-case{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        .case-code{
            width: 50%;
            font-size: 16px !important;
        }
        .case-view{
            width: 50%;
            margin-left: 50px;
        }
    }
}